<h4>Search Image</h4>
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Image</mat-label>
      <input type="text"
             placeholder="Search image on docker hub"
             aria-label="Number"
             matInput
             [formControl]="searchControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let img of filteredOptions | async" [value]="img.name" matTooltip="{{img.description}}">
          <span>{{img.name}} | {{img.star_count}}⭐</span>
          
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
<button  style="float: right;" mat-flat-button color="primary" (click)="pull()">Pull</button>
<button   mat-flat-button color="warn" [mat-dialog-close]="true">Close</button>