<div *ngIf="this.inProgress">
  <mat-card style="width: 100%;">
    <mat-card-title style="padding: 1px 0 0 30px;">
      <h4>
        Containers Events
      </h4>
    </mat-card-title>
    <mat-card-content style="margin-left: 10px;">
      <mat-spinner diameter="100" style="margin-left:40%;"></mat-spinner>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="this.events.length == 0 && !this.inProgress">
  <mat-card style="width: 100%;">
    <mat-card-title style="padding: 1px 0 0 30px;">
      <h4>
        Containers Events
      </h4>
    </mat-card-title>
    <mat-card-content style="margin-left: 10px;">
      <span>No events were found in the last hour</span>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="this.events.length > 0">
  <mat-card style="width: 100%;">
    <mat-card-title style="padding: 1px 0 0 30px;">
      <h4>
        Containers Events
      </h4>
    </mat-card-title>
    <mat-card-content style="margin-left: 10px;">
      <div style="width:100%; height:300px; overflow:auto;">
        <table class="styled-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Id</th>
              <th>Time</th>
              <th>From</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of this.events">
              <td>{{event.Actor.Attributes.name}}</td>
              <td>{{event.id.substring(0,12)}}</td>
              <td>{{this.localDateTime(event.time * 1000)}}</td>
              <td>{{event.from.substring(0,20)}}</td>
              <td>{{event.Action}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
