<mat-grid-list cols="4" rowHeight="5:2">
    <mat-grid-tile>
        <mat-card class="card one">
            <mat-card-title style="margin-left: 20px;margin-top: 10px;">
                <div style="font-weight: bold;">{{this.dashboard?.containers}}</div>
                <span>Containers</span>
            </mat-card-title>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card tow">
            <mat-card-title style="margin-left: 20px;margin-top: 10px;">
                <div style="font-weight: bold;">{{this.dashboard?.images}}</div>
                <span>Images</span>
            </mat-card-title>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card tree">
            <mat-card-title style="margin-left: 20px;margin-top: 10px;">
                <div style="font-weight: bold;">{{this.dashboard?.vol}}</div>
                <span >Volumes</span>
            </mat-card-title>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card four">
            <mat-card-title style="margin-left: 20px;margin-top: 10px;">
                <div style="font-weight: bold;">{{this.dashboard?.net}}</div>
                <span >Networking</span>
            </mat-card-title>
          </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="3" rowHeight="500px">
    <mat-grid-tile>
        <div style="height:34vh; width:20vw;">
            <canvas id="containersInfo"></canvas>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan=2>
        <div style="width: 100%;">
            <table id="customers">
              <tr>
                <th>Company</th>
                <th>Contact</th>
                <th>Country</th>
              </tr>
              <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
              </tr>
              <tr>
                <td>Berglunds snabbköp</td>
                <td>Christina Berglund</td>
                <td>Sweden</td>
              </tr>
              <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
              </tr>
              <tr>
                <td>Ernst Handel</td>
                <td>Roland Mendel</td>
                <td>Austria</td>
              </tr>
              <tr>
                <td>Island Trading</td>
                <td>Helen Bennett</td>
                <td>UK</td>
              </tr>
              <tr>
                <td>Königlich Essen</td>
                <td>Philip Cramer</td>
                <td>Germany</td>
              </tr>
              <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td>Yoshi Tannamuri</td>
                <td>Canada</td>
              </tr>
              <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
              </tr>
              <tr>
                <td>North/South</td>
                <td>Simon Crowther</td>
                <td>UK</td>
              </tr>
              <tr>
                <td>Paris spécialités</td>
                <td>Marie Bertrand</td>
                <td>France</td>
              </tr>
            </table>
              
        </div>
    </mat-grid-tile>
</mat-grid-list>

<mat-card style="margin-top: 1%;">
    <mat-card-title style="padding: 10px 0 0 26px;">
        <h4>
            Running Containers
        </h4>
    </mat-card-title>
    <mat-card-content style="margin-left: 10px;">
            <canvas id="runingContainers" width="100" height="30"></canvas>
    </mat-card-content>
</mat-card>
