<mat-sidenav-container mode="push" autosize fullscreen>
    <mat-card>
        <div *ngIf="this.inProgress">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <mat-card-content>
            <mat-card-title>Containers</mat-card-title>
            <button (click)="this.getContainers()" mat-fab style="float: right; margin-top: -35px;">
                <mat-icon>refresh</mat-icon>
            </button>
            <div *ngIf="this.containers.length == 0" style="text-align: center; padding-top: 5%;">
                <h1>There are no containers</h1>
                <img src="../../../assets/images/empty.svg" style="width:20%;">
            </div>
            <table *ngIf="this.containers.length > 0">
                <tr>
                    <th *ngFor="let header of this.headers; let i = index">
                        {{this.headers[i]}}
                    </th>
                </tr>
                <tr *ngFor="let container of this.containers;">
                    <td>
                        <button (click)="this.openBottomSheet(container.id)" mat-button color="primary">
                            {{container.name.substring(1)}}
                        </button>
                    </td>
                    <td>{{container.id.substring(0,12)}}</td>
                    <td>
                        <div *ngIf="container.state == 'running'" class="chip"
                            style="background-color: rgb(123, 192, 140);">
                            {{container.state}}
                        </div>
                        <div *ngIf="container.state != 'running'" class="chip"
                            style="background-color: rgb(223, 146, 4);">
                            {{container.state}}
                        </div>
                    </td>
                    <td>{{container.status}}</td>
                    <td>{{this.localDateTime(container.age)}}</td>
                    <td>
                        <button [disabled]="this.inProgress" mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="this.containerLogs(container)">
                                <mat-icon style="color:rgb(16, 172, 94);">event_note</mat-icon>
                                <span>Logs</span>
                            </button>
                            <button mat-menu-item (click)="this.containerInspect(container.id)">
                                <mat-icon style="color:royalblue;">info</mat-icon>
                                <span>Inspect</span>
                            </button>
                            <button mat-menu-item (click)="this.restart(container.id)">
                                <mat-icon style="color:rgb(223, 146, 4);">restart_alt</mat-icon>
                                <span>Restart</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon style="color:tomato;">delete</mat-icon>
                                <span>Remove</span>
                            </button>
                        </mat-menu>
                    </td>
                    <mat-divider></mat-divider>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
    <mat-sidenav #inspect position="end" style="width: 70%;">
        <div style="margin: 20px;">
            <h2>Container Info</h2>
            <div *ngIf="this.inProgress">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <mat-divider></mat-divider>
            <div style="padding: 10px; font-size: 120%">
                <ngx-json-viewer [json]="this.containerInfo"></ngx-json-viewer>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav [(opened)]="sidenav_logs" position="start" style="width: 100%;">
        <mat-toolbar color="black">
            <span style="color: #1e88e5;">logs: {{this.logContainerContext?.name.substring(1)}}</span>
            <span fxFlex></span>
            <!-- <mat-slide-toggle [(ngModel)]="this.followLogs" style="padding-right: 10px;" [checked]="this.followLogs" (change)="this.changeLiveLog($event)">
                Follow
            </mat-slide-toggle> -->
            <app-search-text (searched)="OnSearched($event)"></app-search-text>
            <button mat-button (click)="this.logsClose()" mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>
        <div appElevation>
            <div class="containerLog" [innerHTML]="this.logs | highlightSearch: search">
            </div>
        </div>
    </mat-sidenav>
</mat-sidenav-container>