<mat-sidenav-container mode="push" autosize fullscreen>
    <mat-card>
        <mat-card-content>
            <mat-card-title>Containers</mat-card-title>
            <table>
                <tr>
                    <th *ngFor="let header of this.headers; let i = index">
                        {{this.headers[i]}}
                    </th>
                </tr>
                <tr *ngFor="let container of this.containers;">
                    <td>{{container.name}}</td>
                    <td>{{container.id.substring(0,12)}}</td>
                    <td>{{container.state}}</td>
                    <td>{{container.status}}</td>
                    <td>{{container.age}}</td>
                    <td>
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button *ngIf="container.state != 'running'" mat-menu-item >
                                <mat-icon  style="color: green;">play_arrow</mat-icon>
                                <span>Start</span>
                            </button>
                            <button mat-menu-item >
                                <mat-icon style="color:orange;">restart_alt</mat-icon>
                                <span>Restart</span>
                            </button>
                            <button  mat-menu-item  (click)="contsinerInfo(container.id)">
                                <mat-icon style="color:royalblue;">info</mat-icon>
                                <span>Inspect</span>
                            </button>
                            <button *ngIf="container.state == 'running'"mat-menu-item >
                                <mat-icon style="color:tomato;">stop</mat-icon>
                                <span>Stop</span>
                            </button>
                        </mat-menu>
                    </td>
                    <mat-divider></mat-divider>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
    <mat-sidenav #inspect position="end" style="width: 70%;">
        <div style="margin: 20px;">
            <h2>Container Info</h2>
            <mat-divider></mat-divider>
            <div style= "padding: 10px; font-size: 120%">
                <ngx-json-viewer [json]="this.containerInfo"></ngx-json-viewer>
            </div>
        </div> 
     </mat-sidenav> 
</mat-sidenav-container>
    