table {
    border-collapse: collapse;
    width: 100%;
    margin-top : 30px;
}
td, th {
    text-align: left;
    padding: 20px;
}
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 25px;
    font-size: 16px;
    line-height: 25px;
    border-radius: 25px;
    background-color: rgb(123, 192, 140);
    color: white;

}

.div-info{
    margin-top: 20px;
    margin-bottom: 20px;
}

.span-info{
    margin-left: 10px;
    color: #363636;
    margin-bottom: 10px;
}