<div>
  <h3 style="font-weight: bold; text-align: center;">Container Details</h3>
</div>
<div style="border-top: solid 1px #bbb;"></div>
<table style="margin-top: -10px;">
  <tr>
    <td>
      <p>Image:<span>{{this.containerInfo.Image}}</span></p>
      <p *ngIf="this.containerInfo.Ports.length > 0">
        Ports:
        <span *ngFor="let port of this.containerInfo.Ports;">
          {{port.PublicPort}},
        </span>
      </p>
      <p *ngIf="this.containerInfo.Ports.length == 0">
        Ports:
        <span>--</span>
      </p>
      <p>Mounts:<span>{{this.containerInfo.Mounts.length}}</span></p>
      <p>Gateway:<span>{{this.containerInfo.NetworkSettings.Networks.bridge.Gateway}}</span></p>
    </td>
    <td>
    </td>
  </tr>
</table>