<mat-sidenav-container mode="push" autosize fullscreen>
    <mat-card>
        <div *ngIf="this.inProgress">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <mat-card-content>
            <mat-card-title>
                Images
                <div style="float: right; margin-bottom: 20px;"> 
                    <span style="font-size: 16px; font-weight: 100;">Refresh in: </span>
                    <mat-select (selectionChange)="onrefreshSecondsChange($event)" [(ngModel)]="this.refreshInterval" style="width: 60px; margin-left: 10px; font-size: 15px;"  >
                        <mat-option *ngFor="let option of refreshSeconds" [value]=option >
                            {{option}}s
                        </mat-option>
                    </mat-select>
                    <button mat-icon-button color="accent" style="margin-left: 20px;" mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                            <button (click)="OpenPullDialog()" mat-menu-item>
                                Pull
                            </button>
                    </mat-menu>
                </div>
            </mat-card-title>
            <div *ngIf="this.images?.length == 0" style="text-align: center; padding-top: 5%;">
                <h1>There are no Images</h1>
                <img src="../../../assets/images/empty.svg" style="width:20%;">
            </div>
            <table *ngIf="this.images?.length > 0">
                <tr>
                    <th *ngFor="let header of this.headers; let i = index">
                        {{this.headers[i]}}
                    </th>
                </tr>
                <tr *ngFor="let image of this.images;">
                    <td>
                        <button style="font-size: 18px;" (click)="this.imageInspect(image.id)" mat-button color="primary">
                            {{image.id.split("sha256:")[1].substring(0,12)}}
                        </button>
                    </td>
                    <td>{{image.repo}}</td>
                    <td>{{image.tag}}</td>
                    
                    <td>{{image.age}}</td>
                    <td>{{image.size /1024/1024 | number : '1.2-2'}}</td>
                    <td>
                        <button [disabled]="this.inProgress" mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="this.imageInspect(image.id)">
                                <mat-icon style="color:royalblue;">info</mat-icon>
                                <span>Inspect</span>
                            </button>
                            <button mat-menu-item (click)="this.delete(image.id)">
                                <mat-icon style="color:rgb(241, 51, 51);">delete</mat-icon>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </td>
                    <mat-divider></mat-divider>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
    <mat-sidenav #inspect position="end" style="width: 70%;">
        <div style="margin: 20px;">
            <h2>Image Info</h2>
            <div *ngIf="this.inProgress">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <mat-tab-group animationDuration="0ms" style="margin-top: 5px;" mat-align-tabs="center">
                <mat-tab label="Json">
                    <div style="padding: 10px; font-size: 120%">
                        <ngx-json-viewer [json]="this.imageInfo"></ngx-json-viewer>
                    </div>
                </mat-tab>
                <mat-tab label="Layers">
                    <div style="padding: 10px;">
                        <div style="margin: 15px;" *ngFor="let command of this.imageHistory;let i = index">
                            <div *ngIf="this.imageHistory[this.imageHistory.length - i - 1].CreatedBy.includes('#(nop)')">
                                <span>{{this.imageHistory[this.imageHistory.length - i - 1].CreatedBy.split('/bin/sh -c #(nop)')[1]}}</span>
                                <mat-divider></mat-divider>
                            </div>
                            <div *ngIf="this.imageHistory[this.imageHistory.length - i - 1].CreatedBy.includes('#(nop)') === false">
                                <span>{{this.imageHistory[this.imageHistory.length - i - 1].CreatedBy}}</span>
                                <mat-divider></mat-divider>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-sidenav>
</mat-sidenav-container>