<mat-grid-list cols="4" rowHeight="5:2">
    <mat-grid-tile>
      <mat-card (click)="navigate('container')" class="card one">
        <div *ngIf="this.inProgress" style="text-align: center;">
          <mat-spinner diameter="50" style="margin-top: 10%; margin-left:40%;"></mat-spinner>
        </div>
        <mat-card-title *ngIf="!this.inProgress" style="margin-left: 20px;margin-top: 10px;">
          <div style="font-weight: bold;">{{this.systemInfo?.Containers}}</div>
          <span>Containers</span>
        </mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="card tow">
        <div *ngIf="this.inProgress" style="text-align: center;">
          <mat-spinner diameter="50" style="margin-top: 10%; margin-left:40%;"></mat-spinner>
        </div>
        <mat-card-title *ngIf="!this.inProgress" style="margin-left: 20px;margin-top: 10px;">
          <div style="font-weight: bold;">{{this.systemInfo?.Images}}</div>
          <span>Images</span>
        </mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="card tree">
        <div *ngIf="this.inProgress" style="text-align: center;">
          <mat-spinner diameter="50" style="margin-top: 10%; margin-left:40%;"></mat-spinner>
        </div>
        <mat-card-title *ngIf="!this.inProgress" style="margin-left: 20px;margin-top: 10px;">
          <div style="font-weight: bold;">{{this.systemInfo?.Plugins.Volume.length}}</div>
          <span>Volumes</span>
        </mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="card four">
        <div *ngIf="this.inProgress" style="text-align: center;">
          <mat-spinner diameter="50" style="margin-top: 10%; margin-left:40%;"></mat-spinner>
        </div>
        <mat-card-title *ngIf="!this.inProgress" style="margin-left: 20px;margin-top: 10px;">
          <div style="font-weight: bold;">{{this.systemInfo?.Plugins.Network.length}}</div>
          <span>Networking</span>
        </mat-card-title>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>